[Unit]
Description=Aquamonitor

[Service]
Type=simple
TimeoutStartSec=5
ExecStart=/usr/bin/python /usr/local/aquariummonitor/aquariummonitor.py start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target