[Unit]
Description=Daily FERTILIZER
StopWhenUnneeded=true

[Timer]
# OnBootSec=10min
# OnUnitActiveSec=1d
# Daily at 8am
OnCalendar=*-*-* 19:00:00
Persistent=True

[Install]
WantedBy=multi-user.target
