[Unit]
Description=FERTILIZER

[Service]
Type=forking
TimeoutStartSec=2000
TimeoutStopSec=40
ExecStart=/usr/bin/python /usr/local/aquamonitor/fertilizer.py 1200
