[Unit]
Description=Daily FERTILIZER

[Service]
Type=forking
TimeoutStartSec=2000
TimeoutStopSec=40
ExecStart=//usr/local/python/aquariummonitor/fertilizer.py 1200