[Unit]
Description=FERTILIZER service
StopWhenUnneeded=true

[Timer]
OnCalendar=*-*-* *:00:00
Unit=FERTILIZER.service

[Install]
WantedBy=multi-user.target